{
  "extends": ["airbnb-base", "react-app", "react-app/jest"],
  "plugins": ["unicorn"],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "unicorn/better-regex": "error",
    "unicorn/no-abusive-eslint-disable": "error"
  }
}
